lib/flows/owntracks.json
[
    {
        "id": "9c34d876.610b38",
        "type": "websocket-listener",
        "path": "/ws/location",
        "wholemsg": "false"
    },
    {
        "id": "49cd3648.9f2b98",
        "type": "websocket out",
        "name": "",
        "server": "9c34d876.610b38",
        "client": "",
        "x": 770.5,
        "y": 840,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "98ed7eee.e2fc38",
        "type": "websocket in",
        "name": "",
        "server": "9c34d876.610b38",
        "client": "",
        "x": 337.5,
        "y": 881,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "c0ca791e.2a3ff8"
            ]
        ]
    },
    {
        "id": "6fabeb74.7b92ec",
        "type": "http in",
        "name": "",
        "url": "/map",
        "method": "get",
        "x": 134.5,
        "y": 933,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "ecea4ebf.b3be7"
            ]
        ]
    },
    {
        "id": "173e3cf6.30c52b",
        "type": "http response",
        "name": "",
        "x": 634.5,
        "y": 933,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "f0c1945c.bcc408",
        "type": "template",
        "name": "",
        "field": "",
        "template": "<!DOCTYPE html>\n<html>\n<head>\n    <title>Owntracks & The ThingBox Live Map</title>\n    <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n    <script type=\"text/javascript\" src=\"http://maps.google.com/maps/api/js?sensor=true\"></script>\n    <script type=\"text/javascript\" src=\"http://yourjavascript.com/4594301102/gmaps.js\"></script>\n    <style type=\"text/css\" media=\"screen\">\n        #map {\n            position:absolute;\n            top: 0; bottom: 0; left: 0; right: 0;\n        }\n    </style>\n</head>\n<body>\n    <div id=\"map\"></div>\n    <script type=\"text/javascript\">\n        var socketaddy = \"ws://{{payload}}:1880/api/ws/location\";\n        var map;\n        var sock;\n        $(document).ready(function(){\n            map = new GMaps({\n                div: '#map',\n                lat: 48.858484,\n                lng: 2.348178\n            });\n            map.setZoom(5);\n          \n            sock = new WebSocket(socketaddy);\n            sock.onopen = function(){ \n                console.log(\"Connected websocket\");\n    \t        console.log(\"Sending ping..\");\n    \t        sock.send(\"Ping!\");\n    \t        console.log(\"Ping sent..\");\n            };\n            sock.onerror = function(){ console.log(\"Websocket error\"); };\n            sock.onmessage = function(evt){\n                var latlng = JSON.parse(evt.data);\n                var array = $.map(latlng, function(el) {\n      \t\t        return [[el.lat, el.lng]];\n    \t        });\n                map.removeMarkers();\n           \t    console.log(\"Got marker at \" + latlng[0].lat + \", \" + latlng[0].lng, latlng);\n                map.setZoom(17);\n           \t    map.setCenter(latlng[0].lat, latlng[0].lng);\n                map.addMarkers(latlng);\n\n            }\n        });\n    </script>\n</body>\n</html>",
        "x": 494.5,
        "y": 933,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "173e3cf6.30c52b"
            ]
        ]
    },
    {
        "id": "c0ca791e.2a3ff8",
        "type": "function",
        "name": "function 2",
        "func": "// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload = context.global.location;\n\nreturn msg;",
        "outputs": 1,
        "x": 563.5,
        "y": 881,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "49cd3648.9f2b98"
            ]
        ]
    },
    {
        "id": "202b2f3b.b5c88",
        "type": "function",
        "name": "function 1",
        "func": "// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\ncontext.global.location = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "x": 563.5,
        "y": 840,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "49cd3648.9f2b98"
            ]
        ]
    },
    {
        "id": "a98bf72f.3aefa8",
        "type": "function",
        "name": "Adaptation",
        "func": "var latitude = msg.payload.latitude;\nvar longitude = msg.payload.longitude;\nmsg.payload = '[{\"lat\":\"' + latitude + '\",\"lng\":\"' + longitude + '\"}]'; \nreturn msg;",
        "outputs": 1,
        "x": 405.5,
        "y": 840,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "202b2f3b.b5c88"
            ]
        ]
    },
    {
        "id": "9da00127.3c9498",
        "type": "owntracks",
        "name": "",
        "topic": "thethingbox/position/antoine",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "8de36f627975abc6",
        "x": 177.5,
        "y": 840,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "a98bf72f.3aefa8"
            ]
        ]
    },
    {
        "id": "ecea4ebf.b3be7",
        "type": "file in",
        "name": "",
        "filename": "/etc/hostname",
        "format": "utf8",
        "x": 316.5,
        "y": 933,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "f0c1945c.bcc408"
            ]
        ]
    }
]